* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: #1E1E1E;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    margin: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #35393C;
}

.close {
    background-color: #F65E5F;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: none;
}

.minimize {
    background-color: #E3BD53;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: none;
    margin-left: 5px;
}

.expand {
    background-color: #5EBD4A;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: none;
    margin-left: 5px;
}

.container {
    padding: 0 20px;
}

.title {
    margin-top: 10px;
}

hr {
    margin: 20px 0;
    background-color: #5EBD4A;
    height: 1px;
    border: none;
}

.search_bar {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 1.5rem;
    padding: 0 1rem;
    margin-top: 15px;
}

.search_bar:focus {
    outline: none;
}

.search_button {
    border: none;
    border-radius: 6px;
    background-color: #5EBD4A;
    color: #FFFF;
    width: 10%;
    line-height: 1.5rem;
    cursor: pointer;
}

@media (max-width: 735px) {
    .search_bar {
        width: 100%;
        margin-bottom: 7px;
    }

    .search_button {
        width: 100%;
    }
}

@media (min-width: 736px) {
    .search_bar {
        width: 40%;
    }

    .search_button {
        width: 23%;
    }
}

@media (min-width: 936px) {
    .search_bar {
        width: 40%;
    }

    .search_button {
        width: 12%;
    }
}